<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/traffic_police_station/load_dashbord">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/traffic_police_station/load_face_recongize">
                <i class="mdi mdi-camera menu-icon"></i>
                <span class="menu-title">Perform Face Recognition</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/traffic_police_station/view_fine_receipt">
                <i class="mdi mdi-file-outline menu-icon"></i>
                <span class="menu-title">View Fine Receipt</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/traffic_police_station/view_complain">
                <i class="mdi mdi-account-alert menu-icon"></i>
                <span class="menu-title">Complain</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/traffic_police_station/load_feedback">
                <i class="mdi mdi-thumb-up menu-icon"></i>
                <span class="menu-title">Feedback</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/logout_session">
                <i class="mdi mdi-logout menu-icon"></i>
                <span >Logout</span>
            </a>
        </li>

    </ul>
</nav>
