<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/load_dashbord">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-map-marker menu-icon"></i>
                <span class="menu-title">Manage Area</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_area"><span>Add Area</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_area"><span>View Area</span></a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false"
               aria-controls="ui-advanced">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Manage User</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-advanced">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_user"><span>Add User</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_user"><span>View User</span></a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
               aria-controls="form-elements">
                <i class="mdi mdi-map-marker-radius menu-icon"></i>
                <span class="menu-title">Manage Crossroad &nbsp;</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_crossroad"><span>Add Crossroad</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_crossroad"><span>View Crossroad</span></a></li>
                </ul>
            </div>
        </li>
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="/admin/view_face_recognize">#}
{#                <i class="mdi mdi-camera menu-icon"></i>#}
{#                <span class="menu-title">View FaceRecogize</span>#}
{#            </a>#}
{#        </li>#}
        <li class="nav-item">
            <a class="nav-link" href="/admin/view_fine_receipt">
                <i class="mdi mdi-file-outline menu-icon"></i>
                <span class="menu-title">View FineReceipt</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/view_complain">
                <i class="mdi mdi-account-alert menu-icon"></i>
                <span class="menu-title">Manage Complain</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/view_feedback">
                <i class="mdi mdi-thumb-up menu-icon"></i>
                <span class="menu-title">Manage Feedback</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/logout_session">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>

    </ul>
</nav>
